<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Iniciar Sesión</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<div class="container center">
    <h2>Iniciar sesión</h2>
    <form action="/auth/login" method="POST">
        <label>Nombre de usuario:</label>
        <input type="text" name="username" required>
        <label>Contraseña:</label>
        <input type="password" name="password" required>
        <button type="submit">Ingresar</button>
    </form>
    <a href="/auth/register">¿No tienes cuenta? Regístrate aquí</a>
</div>

<script>
    // Mostrar SweetAlert si hay un mensaje de error
    <% if (typeof error !== 'undefined') { %>
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: '<%= error %>'
        });
    <% } %>
</script>
</body>
</html>
