<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Trabajador</title>
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Incluir SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="container">
        <h1>Agregar Trabajador</h1>
        <form id="create-worker-form" style="margin-bottom: 8px;">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" required><br>
            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido" required><br>
            <label for="telefono">Telefono:</label>
            <input type="text" name="telefono" required><br>
            <label for="email">Email:</label>
            <input type="text" name="email" required><br>
            <label for="puesto">Puesto:</label>
            <input type="text" name="puesto" required><br>
            <label for="salario">Salario:</label>
            <input type="number" name="salario" required><br>
            <label for="fecha_contratacion">Fecha contratación:</label>
            <input type="date" name="fecha_contratacion" required><br>
            <button type="submit">Guardar</button>
        </form>
        <a href="/trabajadores" style="text-decoration: underline;">Volver a la lista</a>
    </div>
<script>
    // Obtener el token del localStorage
    const token = localStorage.getItem('auth_token');

    if (!token) {
        // Redirigir al inicio de sesión si no hay token
        window.location.replace('/');
    }

    document.getElementById('create-worker-form').addEventListener('submit', function (event) {
        event.preventDefault();

        // Obtener los datos del formulario
        const formData = new FormData(this);
        const data = Object.fromEntries(formData);
        // Enviar la solicitud con fetch
        fetch('/trabajadores/create', {
                method: 'POST',
                headers: {
                    'Authorization': `Bearer ${token}`,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json().then(data => ({
                status: response.status,
                body: data
            })))
            .then(({
                status,
                body
            }) => {
                if (status === 200) {
                    Swal.fire(
                        'Trabajador Agregado',
                        'El trabajador ha sido agregado exitosamente.',
                        'success'
                    ).then(() => {
                        window.location.href = '/trabajadores';
                    });
                } else {
                    Swal.fire(
                        'Error',
                        body.message || 'Hubo un problema al agregar el trabajador.',
                        'error'
                    );
                }
            })
            .catch(error => {
                console.error('Error:', error);
                Swal.fire(
                    'Error',
                    'Hubo un problema al agregar el trabajador.',
                    'error'
                );
            });
    });
</script>
</body>
</html>